<div>
    <form class="cuadro">
   
        <div class="form-group">
            <h1>Censo</h1>
            <label for="name">Nombre:</label>
            <br>
            <input type="text" placeholder="Nombre" required>
            <br>
            <label for="Apellido">Apellido:</label>
            <br>
            <input type="text" placeholder="Apellido" required>
            <br>
            <label for="Correo">Correo:</label>
            <br>
            <input type="text" placeholder="Correo" required>
            <br>
            <label for="Edad">Edad:</label>
            <br>
            <input type="text" placeholder="Edad" required>
            <br>
            <label for="Edentificacion">Identificacion:</label>
            <br>
            <input type="text"placeholder="Identificacion" required>
            <br><button type="submit">Enviar</button>
        </div>
        
       
       
    
    </form>
    <div class="Cuadro"></div>
</div>
