.form-group{
    margin: 245px;
    justify-content: center;
    align-items: center;
   text-align: center;

   
   
 

}
.cuadro{

    border: 2px #000;
    background: blanchedalmond;
margin:400px ;
}