.form-container{
   align-items: center;
    background-color: white;
}
.form-container form{
    margin: 100px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }

.example-full-width {
    width: 100%;
} 
.my-button {
    padding: 10px 20px;
    background-color: #28036e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
  }
  .my-button:hover {
    background-color: #28036e;
  }
  .my-button:active {
    background-color: #28036e;
  }
