<div class="posicion" role="content">
    <h1 id="josefin">Censo de Costa Rica 2023</h1>
    <h2 class="autores">Autores: Dylan Torres & Daniel Millán</h2>
    <img class="imagen"
      src="https://d2v9ipibika81v.cloudfront.net/uploads/sites/248/cr-flag-image-final-1140x684-1-750x450.jpg"
      alt="Imagen representaviva">
  </div>

  <article class="article">
    <header>
      <h2>Bienvenido</h2>
    </header>
    <p class="text-align-justify">
      Estamos emocionados de dar la bienvenida a todos los costarricenses a la página oficial del Censo Nacional de 2023.
      Este censo es un evento crucial para nuestra nación, ya que sus resultados desempeñarán un papel vital en la toma de
      decisiones que moldearán el futuro de Costa Rica.
   
      La participación de cada uno de ustedes es esencial para garantizar que recopilemos datos precisos y representativos
      de la diversidad y las necesidades de nuestras comunidades. A lo largo del período del censo, nuestros encuestadores
      estarán dispuestos a brindar apoyo y recopilar información importante que nos permitirá planificar servicios y
      asignar recursos de manera eficaz.
   
      Los invitamos a explorar nuestra página web para obtener información detallada sobre el censo y a mantenerse
      actualizados a través de nuestros canales de comunicación. Su participación activa en esta iniciativa es un acto de
      compromiso cívico que beneficia a todos los costarricenses.
   
      Juntos, trabajando en colaboración, podemos garantizar un futuro más brillante y próspero para Costa Rica. ¡Gracias
      por ser parte de esta importante misión!
   
    </p>
  </article>

  <p class="copyrigh">© 2023 Innovación en Acción. Todos los derechos reservados.</p>