  .nav-link{
    color: white !important;
    margin: 20px;
}
.titulo{
  align-items: center;
  color: black;
  min-width: 150px;
  max-width: 500px;
  width: 100%;
  margin: 25px;
  text-align: center;
}
