ul{
    display: flex;
    justify-content: space-around;
    gap: 20px;
}
li{
    list-style: none;
    padding: 5px;

}
a{
    text-decoration: none;
    color: white;
    font-size: 22px;
}
h1{
    padding: 18px;
    font-size: 36px;
    margin-top: 10px;
    
}