<link rel="stylesheet" href="app.component.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@100;300&display=swap" rel="stylesheet">

<!-- Toolbar -->
<nav class="toolbar" role="banner">
  <a href="/home"> <img class="toolbar img"
    src="https://admin.inec.cr/sites/default/files/2022-08/Marca%20INEC_Costa%20Rica%20Horizontal%20-%20Vaciado.svg"></a>
  <a id="home" href="/home">Home</a>
  <a id="form" href="/form">Form</a>
</nav>

<router-outlet></router-outlet>